<span class="mat-display-2">{{vehicle?.registrationNumber}}</span><br>
<span class="mat-display-1">{{vehicle?.brand}} {{vehicle?.model}} {{vehicle?.engine}}</span>


<div *ngFor="let ownerId of vehicle?.ownersIds">

  <span class="mat-h3">
    <mat-icon>person</mat-icon> {{owners.get(ownerId).fullName}}
  </span>
  <span class="mat-h4" *ngIf="owners.get(ownerId).phone">
    ({{owners.get(ownerId).phone}})
  </span>
</div>

<button mat-flat-button color="accent" [routerLink]="['/vehicles', vehicle?.id]">
  <mat-icon>edit</mat-icon>
  <span>Edytuj</span>
</button>

<button mat-flat-button color="warn" (click)="openDeleteVehicleConfirmationDialog()">
  <mat-icon>delete</mat-icon>
  <span>Usuń</span>
</button>

<p>
  <mat-form-field appearance="legacy">
    <mat-label>Przebieg</mat-label>
    <input matInput value="{{vehicle?.diary[0]?.mileage || '?'}} km" disabled>

  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="legacy">
    <mat-label>Rok produkcji</mat-label>
    <input matInput value="{{vehicle?.year}}" disabled>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="legacy">
    <mat-label>Numer VIN</mat-label>
    <input matInput value="{{vehicle?.vin || '-'}}" disabled>
  </mat-form-field>
</p>

<mat-checkbox checked="vehicle?.hasLongLifeOil" color="primary" disabled>Olej longlife</mat-checkbox>

<app-vehicle-alert *ngIf="vehicle" [vehicle]="vehicle"></app-vehicle-alert>

<app-diary *ngIf="vehicle" [vehicle]="vehicle"></app-diary>
