<div id="main-info" fxLayout="row wrap" fxLayoutAlign="end start">
  <div fxFlex="70">
    <span class="mat-display-2">{{vehicle?.registrationNumber}}</span><br>
    <span class="mat-display-1">{{vehicle?.brand}} {{vehicle?.model}}</span>

    <div id="owners" *ngFor="let ownerId of vehicle?.ownersIds">
      <span class="mat-h3">
        <mat-icon>person</mat-icon> {{owners.get(ownerId).fullName}}
      </span>
      <span class="mat-h4" *ngIf="owners.get(ownerId).phone">
        (<app-phone-link [phoneNumber]="owners.get(ownerId).phone"></app-phone-link>)
      </span>
    </div>
  </div>

  <div fxFlex="30" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end end" fxLayoutGap="20px" fxLayoutGap.xs="10px">
    <app-edit-button [routerLink]="['/vehicles', vehicle?.id]"></app-edit-button>
    <app-delete-button (click)="openDeleteVehicleConfirmationDialog()"></app-delete-button>
  </div>
</div>

<div id="additional-info" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="start">
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Przebieg</mat-label>
      <input matInput [value]="vehicle?.diary[0]?.mileage || '?'" disabled appInputThousandsSeparator>
      <span matSuffix>km</span>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Rok produkcji</mat-label>
      <input matInput value="{{vehicle?.year || '-'}}" disabled>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Numer VIN</mat-label>
      <input matInput value="{{vehicle?.vin || '-'}}" disabled>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Silnik</mat-label>
      <input matInput value="{{vehicle?.engine || '?'}}" disabled>
    </mat-form-field>
  </div>

  <div>
    <mat-checkbox [checked]="vehicle?.hasLongLifeOil" disabled>Olej longlife</mat-checkbox>
  </div>
</div>

<div id="additional-info-note" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="start">
  <div class="app-width-100">
    <mat-form-field appearance="legacy" class="app-width-100">
      <mat-label>Notatki</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" value="{{vehicle?.note}}"
                  disabled></textarea>
    </mat-form-field>
  </div>
</div>

<div id="alert">
  <app-vehicle-alert *ngIf="vehicle" [vehicle]="vehicle"></app-vehicle-alert>
</div>

<app-diary *ngIf="vehicle" [vehicle]="vehicle"></app-diary>
