<p style="background-color: orange" *ngIf="oilNeverChanged">
  Olej w tym pojeździe nie był nigdy wymieniany przez Ciebie.
</p>

<p style="background-color: orangered" *ngIf="shouldChangeOilBecauseDate">
  <span *ngIf="!vehicle.hasLongLifeOil">
    Ostatnia wymiana oleju była ponad rok temu! Od zalecanej wymiany minęło już <strong>{{diffBetweenLastRepairAndLastOilChange - timeToOilChange}} dni</strong>.
  </span>
  <span *ngIf="vehicle.hasLongLifeOil">
    Ostatnia wymiana oleju longlife była ponad dwa lata temu! Od zalecanej wymiany minęło już <strong>{{diffBetweenLastRepairAndLastOilChange - timeToOilLonglifeChange}} dni</strong>.
  </span>
</p>

<p style="background-color: orangered" *ngIf="shouldChangeOilBecauseMileage">
  <span *ngIf="!vehicle.hasLongLifeOil">
    Pojazd przejechał <strong>{{diffBetweenMileages}} km</strong> od ostatniej wymiany oleju! Zalecana maksymalna wartość, to {{MILEAGE_TO_OIL_CHANGE}} km.
  </span>
  <span *ngIf="vehicle.hasLongLifeOil">
    Pojazd przejechał <strong>{{diffBetweenMileages}} km</strong> od ostatniej wymiany oleju longlife! Zalecana maksymalna wartość, to {{MILEAGE_TO_OIL_LONGLIFE_CHANGE}} km.
  </span>
</p>


