<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{form.get('id').value ? 'Edycja klienta' : 'Rejestracja klienta'}}</h1>

      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="control-group">
          <label class="control-label">Imię:</label>
          <input type="text" formControlName="firstName">
          <span *ngIf="form.get('firstName').hasError('required') && form.get('firstName').touched" class="error">
            podaj wartość
          </span>
          <!--<span *ngIf="form.get('firstName').hasError('pilotName')" class="error">-->
            <!--zacznij wielką literą-->
          <!--</span>-->
        </div>
        <div class="control-group">
          <label class="control-label">Nazwisko:</label>
          <input type="text" formControlName="lastName">
          <span *ngIf="form.get('lastName').hasError('required') && form.get('lastName').touched" class="error">
            podaj wartość
          </span>
          <!--<span *ngIf="form.get('lastName').hasError('pilotForbidden')" class="error">-->
            <!--zakazane nazwisko-->
          <!--</span>-->
        </div>

        <div class="control-group">
          <label class="control-label">Telefon:</label>
          <input type="text" formControlName="phone">
          <!--<span *ngIf="form.get('phone').hasError('required') && form.get('phone').touched" class="error">-->
            <!--podaj wartość-->
          <!--</span>-->
          <!--<span *ngIf="form.get('lastName').hasError('pilotForbidden')" class="error">-->
          <!--zakazane nazwisko-->
          <!--</span>-->
        </div>

        <div class="control-group">
          <label class="control-label">Notatka:</label>
          <input type="text" formControlName="note">
          <!--<span *ngIf="form.get('phone').hasError('required') && form.get('phone').touched" class="error">-->
          <!--podaj wartość-->
          <!--</span>-->
          <!--<span *ngIf="form.get('lastName').hasError('pilotForbidden')" class="error">-->
          <!--zakazane nazwisko-->
          <!--</span>-->
        </div>

        <button type="submit" [disabled]="form.invalid">Zapisz</button>
      </form>
      <button type="button" routerLink="../..">Anuluj</button>
    </div>
  </div>
</div>

