<div fxLayout="row wrap" fxLayoutGap="20px">
  <div fxFlex>
    <app-filter-input [dataSource]="dataSource"></app-filter-input>
  </div>

  <div fxFlex="none">
    <app-add-button text="Dodaj klienta" [routerLink]="['/owners/new']"></app-add-button>
  </div>
</div>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nazwisko i imię</th>
    <td mat-cell *matCellDef="let owner"> {{owner.lastName}} {{owner.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Telefon</th>
    <td mat-cell *matCellDef="let owner"> {{owner.phone || '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef>Notatka</th>
    <td mat-cell *matCellDef="let owner"> {{owner.note}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/owners/' + row.id"></tr>
</table>
