<table>
  <thead>
    <tr>
      <th>Registration number</th>
      <th>Brand, model, engine</th>
      <th>Year</th>
      <th>Mileage</th>
      <th>Owners</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles" [routerLink]="['/vehicles', vehicle.id, 'diary']">
      <td>{{vehicle.registrationNumber}}</td>
      <td>{{vehicle.brand}} {{vehicle.model}} {{vehicle.engine}}</td>
      <td>{{vehicle.year}}</td>
      <td>{{vehicle.mileage}}</td>
      <td>
        <div *ngFor="let ownerId of vehicle.ownersIds">
          {{owners.get(ownerId).fullName}}
        </div>
      </td>
    </tr>
  </tbody>
</table>
<button [routerLink]="['/vehicles/new']">Dodaj pojazd</button>
