<table>
  <thead>
    <tr>
      <th></th>
      <th>Registration number</th>
      <th>Brand, model, engine</th>
      <th>Year</th>
      <th>Mileage</th>
      <th>Owners</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles" [routerLink]="['/vehicles', vehicle.id, 'diary']">
      <td><app-vehicle-alert [vehicle]="vehicle" [isIcon]="true"></app-vehicle-alert></td>
      <td>{{vehicle.registrationNumber}}</td>
      <td>{{vehicle.brand}} {{vehicle.model}} {{vehicle.engine}}</td>
      <td>{{vehicle.year}}</td>
      <td>{{vehicle.diary[0]?.mileage || '?'}} km</td>
      <td>
        <div *ngFor="let ownerId of vehicle.ownersIds">
          <span>{{owners.get(ownerId).fullName}}</span>
          <span style="font-size: smaller"> ({{owners.get(ownerId).phone}})</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<button [routerLink]="['/vehicles/new']">Dodaj pojazd</button>
