<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mat-display-1">{{form.get('id').value ? 'Edycja wpisu dziennika napraw' : 'Rejestracja wpisu dziennika napraw'}}</h1>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="saveDiary()">
    <div class="row">
      <div class="col-12">
        <div>
          <app-datepicker formControlName="date" [required]="true" [allowFutureDates]="false" [asyncParentError]="form.errors?.sameDates"></app-datepicker>
        </div>

        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Przebieg</mat-label>
            <input matInput formControlName="mileage" [errorStateMatcher]="parentErrorStateMatcher"
                   [min]="minMileageValue">
            <span matSuffix>km</span>
            <mat-error>
              <div *ngIf="form.get('mileage').hasError('min')">
                Wartość przebiegu musi być większa od {{minMileageValue}}
              </div>
              <div *ngIf="form.hasError('mileageTooBig')">
                Wartość przebiegu większa niż wartość z kolejnego wpisu w dzienniku
              </div>
              <div *ngIf="form.hasError('mileageTooSmall')">
                Wartość przebiegu mniejsza niż poprzednim razem... Czyżbyś kręcił licznik?
              </div>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="control-group">
          <label class="control-label">Wykonane naprawy (standardowe):</label>
          <select type="text" formControlName="repairs" multiple>
            <option *ngFor="let repair of repairs | async" [value]="repair.name">{{repair.name}}</option>
          </select>
        </div>

        <div class="control-group">
          <label class="control-label">Dodatkowe naprawy:</label>
          <textarea formControlName="additionalRepairs"></textarea>

          <span *ngIf="form.hasError('repairsRequired') && (form.get('repairs').touched || form.get('additionalRepairs').touched)" class="error">
            Wybierz wykonaną usługę z listy usług lub dopisz niestandardową usługę
          </span>
        </div>

        <div class="control-group">
          <label class="control-label">Wymiana oleju:</label>
          <input type="checkbox" formControlName="isOilChanged">
        </div>


        <div class="control-group">
          <label class="control-label">Notatka:</label>
          <textarea formControlName="note"></textarea>
        </div>

        <button type="submit" [disabled]="form.invalid">Zapisz</button>
      </div>
    </div>
    <button type="button" [routerLink]="['/vehicles', form.get('vehicleId').value, 'diary']">Anuluj</button>
  </form>
</div>

