<div fxLayout="row wrap" fxLayoutGap="20px">
  <div fxFlex>
    <app-filter-input [dataSource]="dataSource"></app-filter-input>
  </div>

  <div fxFlex="none">
    <button mat-flat-button color="primary"  [routerLink]="['/vehicles', vehicle?.id, 'diary', 'new']">
      <mat-icon>add</mat-icon>
      <span> Dodaj wpis</span>
    </button>
  </div>
</div>

<table *ngIf="dataSource && vehicle.diary" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let diaryEntry"> {{diaryEntry.date}} </td>
  </ng-container>

  <ng-container matColumnDef="mileage">
    <th mat-header-cell *matHeaderCellDef>Przebieg</th>
    <td mat-cell *matCellDef="let diaryEntry">
      <span *ngIf="diaryEntry.mileage">{{diaryEntry.mileage}} km</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="isOilChanged">
    <th mat-header-cell *matHeaderCellDef>Wymiana oleju</th>
    <td mat-cell *matCellDef="let diaryEntry">
      <mat-checkbox checked="diaryEntry.isOilChanged" color="primary" disabled></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="repairs">
    <th mat-header-cell *matHeaderCellDef>Naprawy</th>
    <td mat-cell *matCellDef="let diaryEntry">
      <ul id="repairs-list">
        <li *ngFor="let repair of diaryEntry.repairs">{{repair}}</li>
        <li *ngFor="let additionalRepair of diaryEntry.additionalRepairs">{{additionalRepair}}</li>
      </ul>
    </td>
  </ng-container>

  <!--TODO: images-->
  <!--<ng-container matColumnDef="images">-->
    <!--<th mat-header-cell *matHeaderCellDef>Zdjęcia</th>-->
    <!--<td mat-cell *matCellDef="let diaryEntry"> {{diaryEntry.images}} </td>-->
  <!--</ng-container>-->

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef>Notatki</th>
    <td mat-cell *matCellDef="let diaryEntry"> {{diaryEntry.note}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [routerLink]="'/vehicles/' + vehicle.id + '/diary/' + row.id"></tr>

</table>
