/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.error {
  color: red;
}

.right {
  float: right;
}

table {
  width: 100%;
}

tr.mat-row {
  cursor: pointer;
}

.app-filter-input {
  font-size: 14px;
  width: 100%;
}


button mat-icon {
  padding-right: 8px;
}
