/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.error {
  color: red;
}

.right {
  float: right;
}

tr.mat-row {
  cursor: pointer;
}
